
#mostrador {
    margin: auto;
    width: 260px;
    height: 50px;
    margin-top: 70px;
    margin-bottom: 60px;
    /*background-color:antiquewhite;*/
}

    #mostrador p {
        font-size: 15pt;
        font-family: sans-serif,Verdana;
    }

.tabuleiro {
    width: 304px;
    height: 304px;
    margin: auto;
    /*background-color:royalblue;*/
}

.espaco {
    width: 88px;
    height: 88px;
    border: 1px solid #000;
    float:left;
    text-align: center;
    padding-top:10px;
    background-color: bisque;
}
